<!--  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<footer class="bsa38"><div class="container">

<p class="tagline">Thanks!</p>

<p><a href="https://github.com/demeyere/bsa38.org/issues">Want to request a change?</a> | <a href="ls">Index</a></p>

</div></footer>

<!--  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<!-- get_template_part ('ga'); -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="library/my-jquery.js"></script>
<script type="text/javascript" src="library/jquery.cycle2.min.js"></script>

</body></html>
